body {
  width: 100%;height:100%;
/* background: url('../images/background.jpg');
 background-repeat: no-repeat;
 /* background: url(https://w-dog.ru/wallpapers/12/9/432356402657725/abstraktnye-cveta-nerealno-oblaka-prostranstvo-fon.jpg);*/
 background: linear-gradient(to right, #000000, #504f01);
}

h1 {
  color: rgb(245, 245, 252);
}

img {
  border-style: dashed;
  border-color: gold;
  width: 200px;
  height: 300px;
}

.second-img {align-self: center;}
